---
import ImageLink from "../../components/ImageLink.astro";

import "swiper/css";
import "swiper/css/autoplay";
import "swiper/css/navigation";
import "swiper/css/pagination";

export interface Props {
  images: Array<{
    src: string;
    href: string;
  }>;
  class?: string;
}

const { images, class:className = ""  } = Astro.props;
---

<section
  class:list={[
    "container",
    "mx-auto",
    "px-4",
    "py-10",
    "banner3-slider",
    className,
  ]}
>
  <div class:list={["swiper", "relative"]}>
    <div class:list={["swiper-wrapper"]}>
      {
        images.map((img, index) => (
          <div class:list={["swiper-slide"]}>
            <div
              class:list={["flex", "items-center", "justify-center", "py-6"]}
            >
              <ImageLink
                {...img}
                class="mx-auto h-64 object-cover w-full rounded-lg"
              />
            </div>
          </div>
        ))
      }
    </div>
    <div class:list={["swiper-button-prev"]}></div>
    <div class:list={["swiper-button-next"]}></div>
    <div class:list={["swiper-pagination", "mt-6"]}></div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Autoplay, Navigation, Pagination } from "swiper/modules";

  const banner3Swiper = new Swiper(".banner3-slider .swiper", {
    modules: [Autoplay, Navigation, Pagination],
    loop: true,
    slidesPerView: 3,
    spaceBetween: 20,
    autoplay: {
      delay: 3500,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".banner3-slider .swiper-button-next",
      prevEl: ".banner3-slider .swiper-button-prev",
    },
    pagination: {
      el: ".banner3-slider .swiper-pagination",
      clickable: true,
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 10,
      },
      640: {
        slidesPerView: 2,
        spaceBetween: 15,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
    },
  });
</script>
