---
// Layout
import Layout from "../../layouts/Layout.astro";

// Libs
import { useTranslations } from "../../i18n/utils";

// i18n
const { lang } = Astro.params as any;
const t = useTranslations(lang);

// Components
import Post from "../ui/Post.astro";


---

<section
  id="Posts"
  class:list={[
    "container",
    "grid",
    "grid-cols-1 md:grid-cols-2 lg:grid-cols-3",
    "p-4",
    "gap-8",
    "justify-center",
  ]}
>
  <Post
    title="Secretos para una Piel Radiante"
    description="Descubre los mejores consejos y tratamientos para mantener tu piel saludable y radiante durante todo el año. Aprende sobre la importancia de la hidratación, protección solar y rutinas personalizadas."
    author="Dra. María González"
    date="15 de Enero, 2024"
    bannerImage="/imgs/gallery/img1.jpg"
    href="#"
  />
  <Post
    title="Secretos para una Piel Radiante"
    description="Descubre los mejores consejos y tratamientos para mantener tu piel saludable y radiante durante todo el año. Aprende sobre la importancia de la hidratación, protección solar y rutinas personalizadas."
    author="Dra. María González"
    date="15 de Enero, 2024"
    bannerImage="/imgs/gallery/img1.jpg"
    href="#"
  />
  <Post
    title="Secretos para una Piel Radiante"
    description="Descubre los mejores consejos y tratamientos para mantener tu piel saludable y radiante durante todo el año. Aprende sobre la importancia de la hidratación, protección solar y rutinas personalizadas."
    author="Dra. María González"
    date="15 de Enero, 2024"
    bannerImage="/imgs/gallery/img1.jpg"
    href="#"
  />
  <Post
    title="Secretos para una Piel Radiante"
    description="Descubre los mejores consejos y tratamientos para mantener tu piel saludable y radiante durante todo el año. Aprende sobre la importancia de la hidratación, protección solar y rutinas personalizadas."
    author="Dra. María González"
    date="15 de Enero, 2024"
    bannerImage="/imgs/gallery/img1.jpg"
    href="#"
  />
</section>
