---
import ServiceCard1 from "../components/ui/ServiceCard1.astro";
import ServiceCard2 from "../components/ui/ServiceCard2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class:list={["flex", "gap-5"]}>
    <ServiceCard1
      title="Tratamientos Faciales"
      imgSrc="/public/imgs/spa1.webp"
      imgAlt="Tratamientos faciales"
      text={`Tratamientos Faciales para una Piel Radiante en ELLA SKIN & SPA WELLNESS.<br> 
      Descubre la luminosidad de tu <em>piel</em> con nuestros <strong>tratamientos faciales especializados</strong> en ELLA SKIN & SPA WELLNESS. 
      Entendemos que cada <strong>piel</strong> es única, por eso ofrecemos soluciones faciales personalizadas para limpiar, 
      <strong>hidratar</strong>, <strong>nutrir</strong> y revitalizar tu rostro. 
      Desde <strong>limpiezas faciales profundas</strong> hasta tratamientos anti-edad y para piel sensible, 
      nuestros expertos utilizan productos seleccionados y técnicas avanzadas para mejorar la salud y apariencia de tu cutis, 
      dejándote con una sensación de frescura y un aspecto <strong>radiante</strong>. 
      Disfruta del mejor facial en Mérida.`}
    />
  </div>
</Layout>
