---
import Layout from "../layouts/Layout.astro";
import Banner from "../sections/Banner.astro";
import Banner3 from "../sections/Banner3.astro";

const bannerImages = [
  { src: "/imgs/gallery/img1.jpg", href: "#" },
  { src: "/imgs/gallery/img2.jpg", href: "#" },
  { src: "/imgs/gallery/img3.jpg", href: "#" },
];

const galleryImages = [
  { src: "/imgs/gallery/img1.jpg", href: "#" },
  { src: "/imgs/gallery/img2.jpg", href: "#" },
  { src: "/imgs/gallery/img3.jpg", href: "#" },
  { src: "/imgs/gallery/img4.jpg", href: "#" },
  { src: "/imgs/gallery/img5.jpg", href: "#" },
]; 
---

<Layout>
  <main>
    <Banner images={bannerImages} className="" />
    <Banner3 images={galleryImages} className="" />
  </main>
</Layout>
