---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/sections/Banner.astro";
import BannerB from "../components/sections/BannerB.astro";

const bannerImages = [
  { src: "/imgs/gallery/img1.jpg", href: "#" },
  { src: "/imgs/gallery/img2.jpg", href: "#" },
  { src: "/imgs/gallery/img3.jpg", href: "#" },
];

const galleryImages = [
  { src: "/imgs/gallery/img1.jpg", href: "#" },
  { src: "/imgs/gallery/img2.jpg", href: "#" },
  { src: "/imgs/gallery/img3.jpg", href: "#" },
  { src: "/imgs/gallery/img4.jpg", href: "#" },
  { src: "/imgs/gallery/img5.jpg", href: "#" },
]; 
---

<Layout>
  <main>
    <Banner images={bannerImages} backgroundImage="/imgs/gallery/fondo_verde.png" class="" />
    <BannerB images={galleryImages} class="" />
  </main>
</Layout>
