---
export interface Props {
  src: string;
  href: string;
  class?: string;
}

const { src, href, class: className = "" } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class:list={["block", "overflow-hidden", "hover:opacity-90", "duration-400"]}
>
  <img
    src={src}
    loading="lazy"
    class:list={[
      "w-auto",
      "rounded-xl",
      "shadow-lg",
      "transition-transform",
      "object-cover",
      className,
    ]}
  />
</a>
