---
// Fonts
import '@fontsource-variable/playfair-display'
import '@fontsource-variable/dm-sans'

// import tailwind css
import "../styles/global.css";

// Header components
import HeaderA from '../components/sections/HeaderA.tsx'
import HeaderB from '../components/sections/HeaderB.tsx'
import HeaderC from '../components/sections/HeaderC.tsx'

// Footer components
import Footer from '../components/sections/Footer.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>ELLA SKIN & SPA WELLNESS</title>
	</head>
	<body>
		<!-- <HeaderA client:load /> -->
		<HeaderB client:load />
		<!-- <HeaderC client:load /> -->
		
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
