---
// Fonts
import '@fontsource-variable/playfair-display'
import '@fontsource-variable/dm-sans'

// import tailwind css
import '../styles/global.css'

// Components
import Header from '../components/sections/Header.tsx'
import Footer from '../components/sections/Footer.astro'
import WhatsappButton from '../components/ui/WhatsappButton.astro'
import Contact from '../components/sections/Contact.astro'

// i18n
const { lang } = Astro.params as any

// Animations / Transitions
import { ClientRouter } from 'astro:transitions'

// Get current page
const segments = Astro.url.pathname.split('/').filter(Boolean)
const last = segments.at(-1)

let currentPage = last
if (!currentPage || currentPage === 'en' || currentPage === 'es') {
  currentPage = 'home'
}
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/x-icon'
      href='/favicon.ico'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    
    <!-- Pages transition -->
    <ClientRouter />

    <!-- SEO Slot -->
    <slot name="seo" />
  </head>
  <body>
    <Header
      client:load
      lang={lang}
    />

    <main class:list={['font-sans']}>
      <slot />
    </main>
    <Contact />
    <Footer />
    <WhatsappButton />
  </body>
</html>
