<div class="flex">
<div class:list={["bg-white", "w-[150px] h-[150px]", "flex", "justify-center", "items-center"]}>
    <div class:list={["rotate-90", "flex", "flex-col", "gap-3"]}>
         <div class:list={["w-[110px] h-[100px]", "rounded-tl-[70px] rounded-br-[70px]", "overflow-hidden", "rotate-180"]}>
            <img src="/public/imgs/figura1-spa.jpeg" alt="" class:list={["w-full", "h-full", "object-cover", "rotate-90"]}>
        </div>
        <div class:list={["flex","justify-start"]}>
            <h3 class:list={["rotate-0", "font-title", "rotate-180", "text-[9px]", "tracking-[2px]"]}>MASAJES</h3>
        </div>
    </div>
</div>

<div class:list={["bg-white", "w-[150px] h-[150px]", "flex", "justify-center", "items-center"]}>
    <div class:list={["rotate-90", "flex", "flex-col", "gap-3"]}>
         <div class:list={["w-[110px] h-[110px]", "rounded-tr-[70px] rounded-bl-[70px]", "overflow-hidden", "rotate-180"]}>
            <img src="/public/imgs/figura1-spa.jpeg" alt="" class:list={["w-full", "h-full", "object-cover", "rotate-90"]}>
        </div>
        <div class:list={["flex","justify-start"]}>
            <h3 class:list={["rotate-0", "font-title", "rotate-180", "text-[9px]", "tracking-[2px]"]}>MASAJES</h3>
        </div>
    </div>
</div>
</div>

<div class:list={["flex"]}> 
<div class:list={["bg-white", "w-[150px] h-[150px]", "flex", "justify-center", "items-center"]}>
    <div class:list={["rotate-90", "flex", "flex-col", "gap-3"]}>
         <div class:list={["w-[110px] h-[110px]", "rounded-tl-[110px] rounded-bl-[0px]", "overflow-hidden", "rotate-180"]}>
            <img src="/public/imgs/figura1-spa.jpeg" alt="" class:list={["w-full", "h-full", "object-cover", "rotate-90"]}>
        </div>
        <div class:list={["flex","justify-start"]}>
            <h3 class:list={["rotate-0", "font-title", "rotate-180", "text-[9px]", "tracking-[2px]"]}>MASAJES</h3>
        </div>
    </div>
</div>

<div class:list={["bg-white", "w-[150px] h-[150px]", "flex", "justify-center", "items-center"]}>
    <div class:list={["rotate-90", "flex", "flex-col", "gap-3"]}>
         <div class:list={["w-[110px] h-[110px]", "rounded-tr-[0px] rounded-bl-[110px]", "overflow-hidden", "rotate-180"]}>
            <img src="/public/imgs/figura1-spa.jpeg" alt="" class:list={["w-full", "h-full", "object-cover", "rotate-90"]}>
        </div>
        <div class:list={["flex","justify-start"]}>
            <h3 class:list={["rotate-0", "font-title", "rotate-180", "text-[9px]", "tracking-[2px]"]}>MASAJES</h3>
        </div>
    </div>
</div>
</div>

<div class:list={["flex"]}> 
<div class:list={["bg-white", "w-[150px] h-[150px]", "flex", "justify-center", "items-center"]}>
    <div class:list={["rotate-90", "flex", "flex-col", "gap-3"]}>
         <div class:list={["w-[110px] h-[110px]", "rounded-bl-[30px] rounded-tr-[30px]", "overflow-hidden", "rotate-180"]}>
            <img src="/public/imgs/figura1-spa.jpeg" alt="" class:list={["w-full", "h-full", "object-cover", "rotate-90"]}>
        </div>
        <div class:list={["flex","justify-start"]}>
            <h3 class:list={["rotate-0", "font-title", "rotate-180", "text-[9px]", "tracking-[2px]"]}>MASAJES</h3>
        </div>
    </div>
</div>

<div class:list={["bg-white", "w-[150px] h-[150px]", "flex", "justify-center", "items-center"]}>
    <div class:list={["rotate-90", "flex", "flex-col", "gap-3"]}>
         <div class:list={["w-[110px] h-[110px]", "rounded-br-[30px] rounded-tl-[30px]", "overflow-hidden"]}>
            <img src="/public/imgs/figura1-spa.jpeg" alt="" class:list={["w-full", "h-full", "object-cover", "rotate-90"]}>
        </div>
        <div class:list={["flex","justify-start"]}>
            <h3 class:list={["rotate-0", "font-title", "rotate-180", "text-[9px]", "tracking-[2px]"]}>MASAJES</h3>
        </div>
    </div>
</div>
</div>
