---
export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<h2
  class:list={[
    'text-5xl md:text-6xl',
    'font-title',
    'text-brown',
    'mb-6',
  ]}
>
  {text}
</h2> 