---
// Icons
import { FaWhatsapp } from "react-icons/fa6"

// Libs
import { useTranslations } from "../../i18n/utils"

// Data
import { phone } from "../../data/contact"

// Props
export interface Props {
  lang?: 'en' | 'es'
}

const { lang = 'en' } = Astro.props

// Get translations
const t = useTranslations(lang)
const whatsappMessage = t('whatsapp.message')
const whatsappUrl = `https://api.whatsapp.com/send?phone=${phone}&text=${encodeURIComponent(whatsappMessage)}`
---

<a
  href={whatsappUrl}
  target="_blank"
  rel="noopener noreferrer"
  class:list={[
    "whatsapp-button",
    "fixed",
    "bottom-4",
    "right-4",
    "z-50",
    "bg-[#25D366]",
    "text-white",
    "p-3",
    "rounded-full",
    "shadow-sm",
    "shadow-white/50",
    "duration-300",
    "hover:scale-110",
    "transition-transform",
    "animate-bounce"
  ]}
>
  <FaWhatsapp className="text-3xl lg:text-4xl" />
</a>